<div class="table-responsive">
    <table class="table table-striped bg-primary">
        <thead class="tbl-strip-thad-bdr">
            <tr>
                <th>نام نقش</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <th>5</th>
                <td>Ram Jacob</td>
            <td>
                <a class="btn btn-sm btn-warning text-white">ویرایش</a>
                    <a class="btn btn-sm btn-danger text-white">حذف</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>